@font-face {
    font-family: 'PerfectDOSVGA';
    src: url('fonts/Perfect DOS VGA 437 Win.ttf') format('truetype'),
         url('fonts/Perfect DOS VGA 437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


body {
    background-color: #0a0a0a;
    color: #2d02ad;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.enter-button {
    background-color: #2d02ad;
    color: #0a0a0a;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.enter-button:hover {
    background-color: #0a0a0a;
    color: #2d02ad;
    border: 1px solid #2d02ad;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin: 10px 0;
}

.social-links a {
    color: #2d02ad;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #fff;
}

.return-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #2d02ad;
    text-decoration: none;
    transition: color 0.3s;
}

.return-link:hover {
    color: #fff;
}

.barcode {
    font-family: 'Libre Barcode 128', cursive;
    
}

.barcode-medium {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 1.25em;
}

.barcode-bigger {
    font-family: 'Libre Barcode 128', cursive;
    font-size: 2em;
}

.image-container {
    margin-bottom: 20px;
}

.image-containerimg {
    width: 100%;
    max-width: 400px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}


.button-container {
    margin-top: 20px;
}

.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #2d02ad;
    text-decoration: none;
    border: 2px solid #2d02ad;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #2d02ad;
    color: #0a0a0a;
}

.image-containerimg {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    filter: brightness(50%);
}

.sidebar {
    width: 250px;
    background-color: #1a1a1a;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    height: 100vh;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #2d02ad;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #2d02ad;
}

.content {
    flex-grow: 1;
    padding: 40px;
}

.project-file {
    background-color: #1a1a1a;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.project-file:hover {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1a1a1a;
    padding: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #2d02ad;
}

.popup img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #2d02ad;
    border-radius: 10px;
}

.return-container {
    margin-top: auto;
}

.return-button {
    display: block;
    padding: 10px;
    background-color: #2d02ad;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.return-button:hover {
    background-color: #ffffff;
    color: #2d02ad;
}

#loading-screen {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
}

#terminal {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: 'PerfectDOSVGA', monospace;
    color: #ffffff;
    background-color: #0a0a0a;
    overflow-y: auto;
    white-space: pre-wrap;
    box-sizing: border-box;
}

#loading-text {
    font-family: 'PerfectDOSVGA', monospace;
    line-height: 1.5;
    font-size: 1.1em;
}

.hidden {
    display: none;
}

.glitch-title h1 {
    font-size: 4em;
    position: relative;
    color: #2d02ad;
    animation: glitch 1s infinite;
}

.glitch-title h1 {
    font-size: 3em;
    position: relative;
    color: #2d02ad;
    animation: subtle-glitch 3s infinite ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.glitch-title h1::before, .glitch-title h1::after {
    content: 'Project Title';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #2d02ad;
    z-index: -1;
    overflow: hidden;
    background: #0a0a0a;
    opacity: 0.8;
    animation: glitch-layers-subtle 3s infinite ease-in-out;
}

.glitch-title h1::before {
    left: 1px;
    text-shadow: -1px 0 #2d02ad;
    clip: rect(0, 900px, 0, 0);
}

.glitch-title h1::after {
    left: -1px;
    text-shadow: -1px 0 #0a0a0a;
    clip: rect(0, 900px, 0, 0);
}

@keyframes glitch-layers-subtle {
    0% {
        clip: rect(0, 9999px, 5px, 0);
        transform: skew(0.1deg);
    }
    20% {
        clip: rect(5px, 9999px, 15px, 0);
        transform: skew(-0.1deg);
    }
    40% {
        clip: rect(15px, 9999px, 25px, 0);
        transform: translateX(-1px);
    }
    60% {
        clip: rect(25px, 9999px, 35px, 0);
        transform: skew(0.2deg);
    }
    80% {
        clip: rect(35px, 9999px, 45px, 0);
        transform: translateX(1px);
    }
    100% {
        clip: rect(45px, 9999px, 55px, 0);
        transform: skew(0deg);
    }
}


.project-description p {
    font-size: 1.5em;
    margin: 20px;
    color: #2d02ad;
}

.project-image img {
    max-width: 80%;
    height: auto;
    border: 2px solid #2d02ad;
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(80%);
}

.project-image img:hover {
    transform: scale(1.05);
    filter: brightness(100%);
}


.project-details p {
    font-size: 1.2em;
    color: #ffffff;
    margin: 20px 0;
}


.glitch-button a {
    display: inline-block;
    font-size: 1.5em;
    color: #2d02ad;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #2d02ad;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
}

.glitch-button a:hover {
    background-color: #2d02ad;
    color: #0a0a0a;
    border: 2px solid #0a0a0a;
}

.glitch-button a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
    transform: skewX(-20deg) translateX(-150%);
    transition: transform 0.5s;
}

.glitch-button a:hover::before {
    transform: skewX(-20deg) translateX(150%);
}

/* stolen code from Pamishly */

@media screen and (max-width: 600px){
	nav {
		width: 100%;
		position: relative;
	}
	main {
		width: 100%;
		position: relative;
	}
}

@media screen and (max-width: 800px) {
	.information img {
	  width: 500px;
	}
	.information h1{
		font-size: 28px;
	}
	.card p{
		padding: 0%;
		font-size: 9px;
		line-height: 11px;
	  }
	  .card h3{
		  font-size: 12px;
	   }
	  .card {
		  width: 160px;
		  height: 200px;
		  margin: 2px;
	  }
	  .cardcontainer{
		width:100%;
		margin-left: 0%;
	  }
	  h1 {
		  font-size: 16px;
		  line-height: 18px;
		  margin-bottom: 5px;
	  }
	  p	{
		  font-size: 10px;
		  line-height: 12px;
	  }
	  main{
		height: 100vh;
	  }
     }

  @media screen and (max-width: 500px) {
	.information img {
	  width: 300px;
	}
  }